# This is Git's per-user configuration file.
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[alias]
	sw = switch
	ci = commit
	st = status
	pu = push -u origin HEAD
	br = branch
	unstage = restore --staged
	co = checkout
        pt = push --tags
	rb = rebase
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true

[user]
	email = 26681097+Griffin-Brome@users.noreply.github.com
	name = Griffin Brome
[rebase]
	autoSquash = true
	autoStash = true
[commit]
	verbose = true
