#cloud-config
# vi: ft=yaml

fqdn: ${domain_name}
prefer_fqdn_over_hostname: true

packages:
  - caddy

apt:
  sources:
    source: "deb [signed-by=$KEY_FILE] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main"
    keyid: 65760C51
