#cloud-config
# vi: ft=yaml

fqdn: ${domain_name}
prefer_fqdn_over_hostname: true

users:
- name: admin
  no_user_group: true
  sudo: ALL=(ALL) NOPASSWD:ALL
  ssh_authorized_keys:
    - ${ssh_public_key}
  shell: /bin/bash

packages:
  - caddy

apt:
  sources:
      source1:
        keyid: 155B6D79CA56EA34
        keyserver: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
        source: deb [signed-by=$KEY_FILE] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main
